body{
   color: rgb(202, 205, 232);
   font-family: 'Josefin Sans', sans-serif;
   font-size: 18px;
}

h1{
   font-weight: 700;
   letter-spacing: 10px;
   color: hsl(236, 33%, 92%);

}

input{
   color: rgb(202, 205, 232);
}