.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
   background-color:  rgb(22, 23, 34);
}

main{
   margin: 3rem auto 3rem;
   width: 450px;
}

.taskbox{
   background-color:  rgb(37, 39, 60);
   border-radius: 4px;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.add_task{
   
   & .checkbox_input{
      background-image: url("../public/assets/images/icon-check.svg"), linear-gradient(to bottom right, rgb(87, 221, 255), rgb(192, 88, 243));
      background-position: center;
      background-repeat: no-repeat;
   }

   & .checkbox_border:hover{
      background-image: linear-gradient(to bottom right, rgb(87, 221, 255), rgb(192, 88, 243));
   }
      
   & .text_input{
      background-color: transparent;
      border: 0px solid;
      height: 30px;
      width: 375px;
      color: #CCC;
   }

   & input[type=text]:focus{
      outline: none;
   }
}

.taskItem{
   border-color: rgb(77, 80, 102);
   width: 100%;
}

.all_task{
   & .checkbox_border{
      margin: auto 1rem;
   }
}

.delete_input{
   height: 30px;
   width: 30px;
   background-image: url("../public/assets/images/icon-cross.svg");
   background-position: center;
   background-repeat: no-repeat;
   margin: auto 0.75rem;
}

.checkbox_input{
   width: 22px;
   height: 22px;
   border-radius: 50%;
   vertical-align: middle;
   border: 1.5px double transparent;
   background-image: 
      linear-gradient(to bottom right, rgb(37, 39, 60), rgb(37, 39, 60)), 
      linear-gradient(to bottom right, rgb(77, 80, 102), rgb(77, 80, 102));
   appearance: none;
   -webkit-appearance: none;
   outline: none;
   background-origin: border-box;
   background-clip: content-box, border-box;
   cursor: pointer;
   position: relative;
}

.checkbox_input:hover{
   background-image: linear-gradient(rgb(37, 39, 60), rgb(37, 39, 60)), linear-gradient(to bottom right, rgb(87, 221, 255), rgb(192, 88, 243));
}

.checkbox_input:checked {
   background-image: url("../public/assets/images/icon-check.svg"), linear-gradient(to bottom right, rgb(87, 221, 255), rgb(192, 88, 243));
   background-position: center;
   background-repeat: no-repeat;
}